<link rel="stylesheet" type="text/css" href="bootstrap.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="#home">Home</a></li>
              <li><div class="dorpdown"> <button class="bropbtn">Content</button>
              <div class="dropdown-content">
              <a href="#primary">Primary Sources</a>
              <a href="#secondary">Secondary Sources</a>
              <a href="#blog">Blog</a>
                  </div>
                </div>
              </li>
              <li><a href="/blog">Blog</a></li>
		        	<li><a href="/">Future Directions</a></li>             
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:farrell.jedw@gmail.com">email</a></li>
	        		<li><a href="https://emory.academia.edu/JeremyFarrell">academia.edu</a></li>
				</ul>
			</footer>
		</body>
	</html>
